/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** general styles ***/

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px; /* this is 1 em */
	line-height: 1.5;
	font-weight: 400;
	color: #000000;
	border: 0;
}

h1 {
	font-weight: 700;
	font-size: 71px;
	line-height: 106px;
	color: white;
	margin-bottom: 18px;
}

h2 {
	font-weight: 700;
	font-size: 48px;
	line-height: 1.5;
	margin-bottom: 12px;
}

h3 {
	margin: 28px auto 0px 14px;
	font-size: 28px;
	font-weight: 700;
}

h4 {
	font-size: 16px;
	font-weight: 700;
}

p {
	margin-bottom: 14px;
}

a:link,
a:visited {
	font-size: 1.5em;
	font-weight: 500;
	text-decoration: none;
	padding: 1.5em;
}

a:hover {
	text-decoration: underline;
}

.container {
	padding: 14px;
}

img {
	max-width: 100%;
	height: auto;
}


/*** header styles ***/

header {
	background-color: #222222;
}

/** nav **/

nav .container {
	display: flex;
	flex-flow: column wrap;
}

#color-block {
    background-color: #c78b07;
	width: 100%;
	padding-top: 20px;
}

nav a:link,
nav a:visited {
	color: #c78b07;
	display: block;
	text-align: center;
	padding: 17px 0;
	margin: 0px auto;
}

nav ul li:first-child a,
nav ul li:link:first-child a {
	background-color: #c78b07;
	color: #222222;
}

nav form {
	width:100%;
	display: flex;
}

nav form input {
	padding: 5px;
	width: 100%	;
	font-size: 1.5em;
}

nav form button {
	color: #c78b07;
	border-radius: 0%;
	border-color: #c78b07;
	background-color: #222222;
	width: 3em;
}

/** welcome banner **/

header .header-banner {
	background-image: url("../images/main-banner.jpg");
	background-size: cover;
	background-position: center;
	padding: 68px 0px;
}

header p {
	font-size: 1em;
	line-height: 1.5em;
	color: white;
	margin-bottom: 42px;
}

.header-banner .container {
	background-color: rgba(0, 0, 0, 0.5);
	margin: 14px 0px;
	padding: 50px 14px;
}

.header-banner a:link,
.header-banner a:visited {
	background-color: #c78b07;
	color: #222222;
}

/*** main styles ***/

main a:link,
main a:visited {
	background-color: #222222;
	color: white;
	margin: 0px auto 14px 14px;
}

/** services styles **/

.main-services-block {
	background-color: #ffe6ac;
	margin-top: 1em;
	display: flex;
	flex-direction: column;
}

.main-services-block p {
	margin: 1em;
	font-size: 1em;
}

/** about styles **/

.main-about{
	background-color: #ffe6ac;
}

/** vision styles **/

.main-vision .container {
	background-image: url("../images/vision.jpg");
	background-position: center;
	display: flex;
	flex-flow: column nowrap;
	padding: 14px 0px;
}

.main-vision h3 {
	color: white;
}

.main-vision p {
	color: white;
	margin: 28px auto 14px 14px
}

.main-vision a:link,
.main-vision a:visited {
	background-image: linear-gradient(to right, #0e1728, #17304d);
	border: #c78b07 1px solid;
}

/** team styles **/


.bio {
	background-color: #ffe6ac;
}

.bio img {
	width: 100%;
	height: auto;
}

.bio h4 {
	border-bottom: #c78b07 solid 2px;
	margin: 14px;
	padding-bottom: 7px;
}

.bio p {
	margin-left: 14px;
	padding-bottom: 28px;
}

/** contact styles **/



.main-contact-block h3 {
	margin-bottom: 28px;
	margin-left: 0px;
}

.main-contact-block form {
	padding-right: 14px;
}

.main-contact-block input, textarea {
	margin-top: 12px;
	margin-bottom: 10px;
	width: 100%;
}

form input[type=submit] {
	width: auto;
	color: #c78b07;
	background-color: #222222;
	border: 1px solid #c78b07;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	padding: 5px;
}

.main-contact-block table {
	width: 100%;
}

.main-contact-block th {
	background-color:#ffe6ac;
	padding: 14px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.main-contact-block td {
	padding: 14px;
	border: 1px solid black;
}


.main-contact-block .big-cell {
	display: flex;
	width: 66%;
}

.big-cell {
	background-color: aquamarine;
}

/*** footer styles ***/

footer {
	background-color: #222222;
}

footer p {
	color: #c78b07;
	margin-top: 21px;
}

footer p a:link,
footer p a:visited {
	color: #c78b07;
	font-size: 14px;
	text-decoration: underline;
	padding: 0px;
	margin: 0px;
}

/**** Desktop Styles ****/

@media only screen and (min-width: 1168px) {
	/*** general styles ***/

	.container {
		padding: 14px 135px;
	}

	/*** header styles ***/

	header {
		background-color: #222222;
	}

	/** nav **/

	nav .container {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}

	#color-block {
		background-color: #222222;
		width: 100px;
		padding: 0px;
		margin-right: 21px;
	}


	nav form {
		width: auto;
		float: right
	}
	
	nav ul {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		width: auto;
	}

	nav ul li {
		padding: 20px 0;
		margin: 0;
	}

	nav a:link,
	nav a:visited {
		color: #c78b07;
		display: block;
		text-align: center;
		padding: 17px 21px;
		margin: auto;
	}

	nav ul li:first-child a,
	nav ul li:link:first-child a {
		background-color: #c78b07;
		color: #222222;
	}

	nav form input {
		padding: 0px;
		width: 175px;
		font-size: 1.5em;
	}

	nav form button {
		color: #c78b07;
		border-radius: 0%;
		border-color: #c78b07;
		background-color: #222222;
		width: 3em;
	}

	/** welcome banner **/

	header .header-banner {
		background-image: url("../images/main-banner.jpg");
		background-size: cover;
		background-position: center;
		display: flex;
		padding: 68px 136px;
	}

	.header-banner .container {
		margin: 14px 0px;
		padding: 50px 14px;
	}

	.main-about .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.about-content {
		max-width: calc(50% - 14px);
		margin-left: 14px;
		margin-right: 14px;
	}

	/*** main styles ***/

	.main-services-block {
		display: block;
		width: 300;
		height: auto;
	}

	.main-services .container h2 {
		grid-column-start: 1;
		grid-column-end: 7;
	}

	.service-block-1 {
		grid-column-start: 1;
		grid-column-end: 4;
	}

	.service-block-2 {
		grid-column-start: 4;
		grid-column-end: 7;
	}

	.service-block-3 {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.service-block-4 {
		grid-column-start: 3;
		grid-column-end: 5;
	}

	.service-block-5 {
		grid-column-start: 5;
		grid-column-end: 7;
	}

	.main-services .container {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		column-gap: 14px;
	}

	.main-services-block {
		display: flex;
		width: auto;
		height: auto;
	}

	.main-vision .container {
		background-size: cover;
		padding: 14px 122px;
	}

	.main-vision .container p {
		width: 100%;
		margin-right: 14px;
		margin-left: 14px;
	}

	.bio {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		padding: 0px;
		margin: 0px;
	}

	.bio img {
		width: 50%;
		padding: 0px;
		margin: 0px;
	}

	.bio-content {
		max-width: calc(50% - 9px);
		padding: 0px;
		margin: auto;
	}

	.bio-two {
		flex-flow: row-reverse nowrap;
	}

	.main-contact .container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		column-gap: 10px;
		grid-template-areas:
		'message location'
		'message location'
		'hours hours';
	}

	.main-contact-block {
		width: auto;
		height: auto;
	}

	.contact-block-1 {
		grid-area: message;
	}

	.contact-block-2 {
		grid-area: hours;
		padding-top: 28px;
	}

	.contact-block-3 {
		display: flex;
		flex-direction: column;
		grid-area: location;
	}
	
	.table { 
		width: 100%;
	}

	.map {
		width: 100%;
		height: 100%;

	}
}